@font-face {
    font-family: poppins;
    src: url(/fonts/Poppins-Medium.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
    color: #171616;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 25%;
    border-radius: 10px;
    overflow: hidden;
    padding: 60px 50px;
    background: rgb(146, 145, 182);
    background: linear-gradient(90deg, rgba(2, 0, 36, 0.256) 0%, rgb(85, 168, 133) 0%, rgb(87, 169, 185) 100%);
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: none;
    outline: none;
    padding: 10px 20px;
    /* Adjusted padding */
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    font-size: 15px;
}

.search i {
    font-size: 20px;
    padding: 10px;
    color: rgb(0, 0, 0);
    font-weight: 100;
    background-color: #ffffff;
    border-radius: 50%;
}

.weather-icon {
    width: 170px;
    margin-left: 50px;
    /* Adjusted margin */
    margin-top: 10px;
}

.weather h1 {
    font-size: 26px;
    font-weight: 100;
    text-align: center;
}

.weather h2 {
    font-size: 40px;
    font-weight: 100;
    text-align: center;
}

.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px;
}

@media (max-width: 500px) {
    #main {
        /* background-color: rgb(0, 0, 0); */
        background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 0%, rgb(0, 41, 39) 100%);
    }
    .card {
        width: 90%;
        /* Adjusted width for smaller screens */
        padding: 40px 20px;
        /* Adjusted padding */
        /* height: 100vh; */
    }
    .search input {
        padding: 15px 30px;
        /* Adjusted padding */
    }
    .search i {
        font-size: 30px;
        padding: 10px;
        color: rgb(0, 0, 0);
        font-weight: 100;
        background-color: #ffffff;
        border-radius: 50%;
    }
    .weather-icon {
        width: 120px;
        /* Adjusted width for smaller screens */
        margin-left: 110px;
        margin-top: 10px;
    }
    .weather h1 {
        font-size: 22px;
        /* Adjusted font size */
    }
    .weather h2 {
        font-size: 26px;
        /* Adjusted font size */
    }
    .details {
        padding: 60px 0px;
        /* Adjusted padding */
    }
}